.layui-layer-btn .layui-layer-btn0 {
    border-color: #ea3524 !important;
    background-color: #ea3524 !important;
    color: #fff !important;
}
/*fonts*/
.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f22{font-size:22px;}
.f24{font-size:24px;}
.f26{font-size:26px;}
.f28{font-size:28px;}

.c333{color:#333;}
.c666{color:#666;}
.c999{color:#999;}
.c-white{color:#fff;}

/*ä½ç½®ç›¸å…³*/
.pos-a{position:absolute;}
.pos-f{position:fixed;}
.pos-r{position:relative;}

.margin5{margin:5px;}
.margin10{margin:10px;}
.margin15{margin:15px;}
.margin20{margin:20px;}
.margin25{margin:25px;}
.margin30{margin:30px;}

.m-t5{margin-top:5px;}
.m-t10{margin-top:10px;}
.m-t15{margin-top:15px;}
.m-t20{margin-top:20px;}
.m-t25{margin-top:25px;}
.m-t30{margin-top:30px;}

.bottom5{margin-bottom:5px;}
.bottom10{margin-bottom:10px;}
.bottom15{margin-bottom:15px;}
.bottom20{margin-bottom:20px;}
.bottom25{margin-bottom:25px;}
.bottom30{margin-bottom:30px;}

.m-l5{margin-left:5px;}
.m-l10{margin-left:10px;}
.m-l15{margin-left:15px;}
.m-l20{margin-left:20px;}
.m-l25{margin-left:25px;}
.m-l30{margin-left:30px;}

.m-r5{margin-right:5px;}
.m-r10{margin-right:10px;}
.m-r15{margin-right:15px;}
.m-r20{margin-right:20px;}
.m-r25{margin-right:25px;}
.m-r30{margin-right:30px;}

.padding5{padding:5px;}
.padding10{padding:10px;}
.padding15{padding:15px;}
.padding20{padding:20px;}
.padding25{padding:25px;}
.padding30{padding:30px;}

.p-t5{padding-top:5px;}
.p-t10{padding-top:10px;}
.p-t15{padding-top:15px;}
.p-t20{padding-top:20px;}
.p-t25{padding-top:25px;}
.p-t30{padding-top:30px;}

.p-b5{padding-bottom:5px;}
.p-b10{padding-bottom:10px;}
.p-b15{padding-bottom:15px;}
.p-b20{padding-bottom:20px;}
.p-b25{padding-bottom:25px;}
.p-b30{padding-bottom:30px;}

.p-l5{padding-left:5px;}
.p-l10{padding-left:10px;}
.p-l15{padding-left:15px;}
.p-l20{padding-left:20px;}
.p-l25{padding-left:25px;}
.p-l30{padding-left:30px;}

.p-r5{padding-right:5px;}
.p-r10{padding-right:10px;}
.p-r15{padding-right:15px;}
.p-r20{padding-right:20px;}
.p-r25{padding-right:25px;}
.p-r30{padding-right:30px;}

.border-n {
  border: none !important;
}

input.focusin,
select.focusin,
textarea.focusin{
	border: 1px solid #ea3524!important;
	outline: none;
}
input.hover,
select.hover,
textarea.hover{
	border: 1px solid #ea3524!important;
	outline: none;
}
.cover{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity:0.3;
	filter:alpha(opacity=30);
	z-index: 998;
	display: none;
}

input[type='radio'].radio {opacity:0; filter:Alpha(opacity=0); display:inline-block; height:20px; }
label.radio {background:url(../img/comm/radio_check.png) no-repeat; background-size: 12px 12px; background-position:left center; height:20px; padding-left:20px;}
input[type='radio'].radio:checked + .radio {background:url(../img/comm/radio_checked.png) no-repeat; background-size: 12px 12px; background-position:left center;}

.layui-layer-hui div{
	color:#fff;
}
.no-list-data-tip{
	text-align: center;
	color: #666;
	height: 100px;
	line-height: 100px;
}
.border-red{border:1px solid red}
.box-shadow{
	-webkit-box-shadow:0 0 10px rgba(234,53,36,.05);
	-moz-box-shadow:0 0 10px rgba(234,53,36,.05);
	box-shadow:0 0 10px rgba(234,53,36,.05);
}
input::-moz-placeholder, textarea::-moz-placeholder { color: #666; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #666; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #666; }
select.placeholder{
	color:#666;
}

.hot_star{
	color: #EA3524;
	margin-right: 5px;
}
/*è¦†ç›–ç™¾åº¦å•†æ¡¥çš„æ ·å¼*/
#newBridge .icon-right-center {
    right: 9px !important;
    top: 50%;
    left: auto;
    bottom: auto;
    margin: -174px 0 0 0 !important;
}
#newBridge .nb-icon-base .nb-icon-inner-wrap {
    border-radius: 0 !important;
}
.nb-icon-inner-wrap{
	border: 1px solid #ddd !important;
	height: 70px !important;
    width: 72px !important;
    background-position-x: 3px !important;
}
/*å³ä¾§æµ®çª—*/
.fixed-kefu-window{
	width: 72px;
    position: fixed;
    top: 50%;
    z-index: 999;
    right: 0;
}
.fixed-kefu-window .fixed-kefu-inner{
	position: relative;
	width: 100%;
	height: auto;
}
.fixed-kefu-window .fixed-kefu-inner ul li:hover{
	/*background-color:##2e3033;*/
}
.fixed-kefu-window ul{
	position: absolute;
	z-index: 10;
	width: 100%;
	height: auto;
	border-right:none;
    overflow: hidden;
	padding-inline-start: 0;
}
.fixed-kefu-window ul li:nth-child(1){
	border-top-left-radius: 5px;
}
.fixed-kefu-window ul li{
	width: 72px;
	height: 69px;
	text-align: center;
	border: 1px solid #ddd;
	border-bottom: none;
	cursor: pointer;
	color: #333;
	font-size: 14px;
	background: #fff;
	list-style: none;
}
.fixed-kefu-window ul li:last-child{
	border-bottom: 1px solid #ddd;
	border-bottom-left-radius: 5px;
}
.fixed-kefu-window ul li a{
	color: #333;
	text-decoration:none;
}
.fixed-kefu-window ul li:hover{
	/*background: #f00;*/
	/*color: #fff;*/
}
.fixed-kefu-window ul li:hover a{
	/*color: #fff;*/
}
.fixed-kefu-window ul li:hover span{
	/*color: #fff !important;*/
}
.fixed-kefu-window ul li span{
	font-size: 12px;
}
.fixed-kefu-window ul li i{
     width: 40px;
     height: 44px;
     display: block;
     margin-left: 16px;
}
.fixed-kefu-window ul li.back-top{
	padding-top: 12px;
	height: 53px;
}
.fixed-kefu-window ul li.phone{
	position: relative;
}
.fixed-kefu-window ul li.phone:hover{
	border-left: none;
}
.fixed-kefu-window .phone-zk-con{
	position: absolute;
	z-index: 1;
	width: 215px;
	height: 69px;
	line-height: 69px;
	top: 71px;
	right: 0;
	color: #fff;
	font-size: 14px;
	overflow: hidden;
	display:none;
}
.fixed-kefu-window .xiadan-zk-con{
	position: absolute;
	z-index: 1;
	width: 215px;
	height: 215px;
	line-height: 69px;
	top: 120px;
	right: 0;
	color: #fff;
	font-size: 14px;
	overflow: hidden;
	display:none;
}
.fixed-kefu-window .phone-zk{
	position: relative;
	z-index: 1;
	width: 143px;
	height: 69px;
	line-height: 69px;
	background: #FFB90F;
	color: #fff;
	font-size: 18px;
	padding-left:8px;
}
.fixed-kefu-window .xiadan-zk{
	position: relative;
	z-index: 1;
	line-height: 69px;
	/*background: #f00;*/
	right: -145px;
	color: #fff;
	font-size: 14px;
}
.fixed-kefu-window .phone-zk b,
	float: left;
	font-weight: normal;
}
.fixed-kefu-window .phone-zk em{
	width: 40px;
    height: 38px;
    display: block;
    background: url(../img/kefu/v2/phone-02.png) no-repeat center;
    margin-top: 16px;
    float: left;
}
.fixed-kefu-window ul li.kefu i{
     background: url(../img/kefu/v3/sqzx.png) no-repeat center;
}
.fixed-kefu-window ul li.shfw i{
	background: url(../img/kefu/v3/shfw.png) no-repeat center;
}
.fixed-kefu-window ul li.phone i{
     background: url(../img/kefu/v2/phone-01.png) no-repeat center;
}
.fixed-kefu-window ul li.liuyan i{
     background: url(../img/kefu/v2/liuyan-01.png) no-repeat center;
}
.fixed-kefu-window ul li.back-top i{
     background: url(../img/kefu/v2/back-top-01.png) no-repeat center;
}
.fixed-kefu-window ul li.xiadan i{
     background: url(../img/kefu/v2/xiadan.png) no-repeat center;
}
.fixed-kefu-window ul li.kefu:hover i{
     background: url(../img/kefu/v3/sqzx.png) no-repeat center;
}
.fixed-kefu-window ul li.shfw:hover i{
	background: url(../img/kefu/v3/shfw.png) no-repeat center;
}
.fixed-kefu-window ul li.phone:hover i{
     background: url(../img/kefu/v2/phone-01.png) no-repeat center;
}
.fixed-kefu-window ul li.liuyan:hover i{
     background: url(../img/kefu/v2/liuyan-02.png) no-repeat center;
}
.fixed-kefu-window ul li.back-top:hover i{
     background: url(../img/kefu/v2/back-top-01.png) no-repeat center;
}
.fixed-kefu-window ul li.xiadan:hover i{
     background: url(../img/kefu/v2/xiadan.png) no-repeat center;
}

.fixed-kefu-window .liuyan-pane{
	position: absolute;
	width: 239px;
	height: 167px;
	border: 1px solid #ddd;
	right: 74px;
	top: 140px;
	font-size: 14px;
	color: #333;
	display: none;
	background:#fff;
}
.fixed-kefu-window .liuyan-pane .tw-phone{
	margin-top: 14px;
}
.fixed-kefu-window .liuyan-pane .tw-phone input{
	width: 142px;
	height: 23px;
	border:1px solid #ddd;
	outline: none;
	padding-left: 5px;
	font-size: 12px;
}
.fixed-kefu-window .liuyan-pane span{
	width: 70px;
	height: 23px;
	text-align: right;
	display: inline-block;
	float: left;
	margin-right: 5px;
	font-size: 12px;
}
.fixed-kefu-window .liuyan-pane .tw-des{
	margin-top: 15px;
}
.fixed-kefu-window .liuyan-pane .tw-des textarea{
	width: 142px;
	height: 70px;
	border:1px solid #ddd;
	outline: none;
	resize: none;
	padding-left: 5px;
	font-size: 12px;
    padding-top: 3px;
    font-family: "Microsoft Yahei";
}
.fixed-kefu-window .liuyan-pane .btn{
	width: 64px;
	height: 28px;
	background: #f00;
	line-height: 28px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	cursor: pointer;
	margin-left:75px;
	margin-top:5px;
}

/*é¡¶éƒ¨ä¿¡æ¯æ */
.head_top_con{
	width: 100%;
	height: 35px;
	background:#fafafa;
	border-bottom: 1px solid #e7e7e7;
	box-sizing: border-box;
}
.head_top_con .top_inner{
	width: 1200px;
	height: 34px;
	background-color: #fafafa;
	margin: 0 auto;
	line-height: 35px;
}
.head_top_con .top_inner .service{
	width: 400px;
	height: 100%;
	float: left;
	font-size: 12px;
    color: #333;
}
.head_top_con .top_inner .service >img{
	width: 34px;
	height: 27px;
	float: left;
	margin-top: 4px;
}

.jqTooltipMsg {
	border: 1px solid #FF7E72;
	font-size: 13px;
/* 	max-width: 205px; */
	padding:5px 10px;
	position: absolute;
	z-index:2000;
	text-shadow:none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

/* é¡¶éƒ¨èœå•å›ºå®šé£Žæ ¼  */
.header-wrap-fixed{
	width: 100%;
	height: 80px;
	background: #FFF;
	min-width: 1200px;
	line-height: 1;
	position:fixed;
	top:0;
	left:0;
	z-index:500;
	display:none;
	-webkit-box-shadow:0 0 4px rgba(0,0,0,.2);
    -moz-box-shadow:0 0 4px rgba(0,0,0,.2);
    box-shadow:0 0 4px rgba(0,0,0,.2);


/*åº•éƒ¨æ ·å¼*/
.footer-wrap{
	width: 100%;
	background: #2e3033;
	min-width: 1200px;
	line-height: 1;
	position: relative;
}
.footer-wrap .rights{
	height: 123px;
	width: 100%;
	border-bottom: 1px solid #434548;
	margin-bottom: 30px;
}
.footer-wrap .rights .rights-inner{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	display:-ms-flexbox;
}
.footer-wrap .rights .rights-inner .rights-item{
	width: 25%;
	height: 100%;
	display: flex;
	display:-ms-flexbox;
	-ms-flex-align:center;
	align-items:center;

	-ms-flex-pack:center;
	justify-content:center;
}
.footer-wrap .rights .rights-inner .rights-item:nth-child(1){
/*	-ms-flex-pack:start;
	justify-content:flex-start;*/
}
.footer-wrap .rights .rights-inner .rights-item:nth-child(4){
/*	-ms-flex-pack:end;
	justify-content:flex-end;*/
}
.footer-wrap .rights .rights-inner .rights-item .icon{
	width: 60px;
	height: 56px;
	margin-right: 12px;
}
.footer-wrap .rights .rights-inner .rights-item:nth-child(1) .icon{
	background:url(../img/footer/xxpf.png) no-repeat;
}
.footer-wrap .rights .rights-inner .rights-item:nth-child(2) .icon{
	background:url(../img/footer/cpmd.png) no-repeat;
}
.footer-wrap .rights .rights-inner .rights-item:nth-child(3) .icon{
	background:url(../img/footer/zybx.png) no-repeat;
}
.footer-wrap .rights .rights-inner .rights-item:nth-child(4) .icon{
	background:url(../img/footer/ynzb.png) no-repeat;
}
.footer-wrap .rights .rights-inner .rights-item .des p{
	font-size: 26px;
	color: #fff;
	font-family:Arial;
}
.footer-wrap .rights .rights-inner .rights-item .des em{
	font-size: 16px;
	color: #d1d1d1;
	margin-top: 5px;
    display: block;
}

.footer-wrap .footer-center{
	height: 156px;
	width: 1200px;
	margin: 0 auto;
}
.footer-wrap .footer-center .footer-logo{
	margin-top: 20px;
	float: left;
}
.footer-wrap .footer-center .footer-nav{
	float: left;
}
.footer-wrap .footer-center .footer-nav .footer-nav-item{
	float: left;
	margin-left: 60px;
}
.footer-wrap .footer-center .footer-nav .footer-nav-item h6{
	color: #fff;
	font-size: 16px;
	margin-bottom: 20px;
}
.footer-wrap .footer-center .footer-nav .footer-nav-item li a{
	color: #7c8186;
	font-size: 14px;
	line-height: 1.8;
}
.footer-wrap .footer-center .footer-nav .footer-nav-item li a:hover{
	color: #fff;
}
.footer-wrap .footer-center .hot-line{
	float: left;
	text-align: center;
	margin-left: 50px;
}
.footer-wrap .footer-center .hot-line span{
	color: #fff;
	font-size: 26px;
	display: block;
	margin-bottom: 10px;
	font-family:Arial;
}
.footer-wrap .footer-center .hot-line em{
	color: #7c8186;
	font-size: 14px;
	display: block;
	line-height: 2;
}
.footer-wrap .footer-center .hot-line a{
	display: block;
	width: 115px;
	height: 36px;
	box-sizing: border-box;
	border: 1px solid #fff;
	opacity: 0.7;
	font-size: 14px;
	line-height: 36px;
	text-align: center;
	color: #fff;
	border-radius: 36px;
	margin: 8px auto 0;
}
.footer-wrap .footer-center .hot-line a:hover{
	opacity: 1;
}
.footer-wrap .footer-center .wx-qrcode{
	float:right;
	width: 112px;
	text-align: center;
}
.footer-wrap .footer-center .wx-qrcode-ptxd{
	margin-right: 60px;
}
.footer-wrap .footer-center .wx-qrcode .qr-code-img{
	width: 112px;
	height: 112px;
	margin-bottom: 10px;
}
.footer-wrap .footer-center .wx-qrcode span{
	color: #7c8186;
	font-size: 14px;
}

.footer-wrap .footer-yqlj{
	width: 100%;
}
.footer-wrap .footer-yqlj .yqlj-inner{
	width: 1200px;
	margin: 0 auto;
}
.footer-wrap .footer-yqlj .yqlj-inner .btn-tab-group{
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #434548;
}
.footer-wrap .footer-yqlj .yqlj-inner .btn-tab-group .btn-tab{
	width: 86px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #7b7f81;
	background: #202224;
	float: left;
	margin-right: 10px;
	cursor: pointer;
}
.footer-wrap .footer-yqlj .yqlj-inner .btn-tab-group .btn-tab.active{
	color: #fff;
	background: #474b50;
}
.footer-wrap .footer-yqlj .yqlj-inner .btn-tab-con{
	color: #606265;
}
.footer-wrap .footer-yqlj .yqlj-inner .btn-tab-con .page{
	color: #606265;
	display: none;
	padding-top: 15px;
	min-height: 49px;
}
.footer-wrap .footer-yqlj .yqlj-inner .btn-tab-con .page .tab-item{
	float: left;
	margin-bottom: 10px;
}
.footer-wrap .footer-yqlj .yqlj-inner .btn-tab-con .page a{
	color: #636060;
}
.footer-wrap .footer-yqlj .yqlj-inner .btn-tab-con .page a:hover{
	color: #fff;
}
.footer-wrap .footer-yqlj .yqlj-inner .btn-tab-con .page i{
	color: #606265;
	display: inline-block;
	padding: 0 5px;
	position: relative;
	top: -3px;
}
.footer-wrap .footer-bottom{
	text-align: center;
	color: #8f8f90;
	font-size: 14px;
	height: 60px;
	line-height: 60px;
	border-top: 1px solid #434548;
}
.footer-wrap .footer-bottom div,
.footer-wrap .footer-bottom span,
.footer-wrap .footer-bottom a{
	text-align: center;
	color: #8f8f90;
	font-size: 14px;
}

/* xiaoyujia */
.xiadan-zk-con {
  top: 105px!important;
}
.xiadan-zk-con .xiadan-zk img{
  border-radius: 70px;
}
.header-wrap .logo a img,
.header-wrap-fixed .logo a img {
  width: 200px!important;
}
body {
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  -khtml-user-select:none;
  user-select:none
}
.header-wrap .logo,
.header-wrap-fixed .logo{
	/*position: relative; */
    top: 18px;
    /* left: 28px; */
    /* float: left; */
    width: 200px;
    position: absolute;
    left: 50%;
    margin-left: -600px;
}
.header-wrap .header-wrap-inner,
.header-wrap-fixed .header-wrap-inner{
	width: 1000px;
	position: absolute;
	left: 50%;
	margin-left: -300px;
}
.fixed-kefu-inner ul{
	padding-left:0;
}
