



*{margin:0;padding:0}
.partner_banner {
    background: url("../../images/partner/partner_banner.png")no-repeat;
    background-size: cover;
    width: 100%;
    height: 620px;
    text-align: center;
    position: relative;
    font-size: 0;
}
.partner_banner h3{
    padding:130px 23px 0px 22px;
    color:white;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: -3px;
}
.partner_banner h3 span{
    padding:0px 22px;
    display: inline-block;
    letter-spacing: 5px;
    font-weight: 500;
}
.partner_banner h4{
    font-size: 48px;
    color:white;
    padding-top:20px;
    letter-spacing: 5px;
    font-weight: 500;
}
.partner_banner p{
    color:white;
    font-size: 20px;
    padding-top:50px;
}
.partner_banner a{
    width:400px;
    display: inline-block;
    background: #ffe100;
    color:#2e3033;
    line-height: 60px;
    margin-top:120px;
    border-radius: 30px;
    font-size: 24px;
    letter-spacing: 3px;
}
.partner_banner img{
    position: absolute;
    bottom:-7%;
    left:48%;
}
.advantage_top h4{
    font-size:36px;
    color:#333;
    letter-spacing: 2px;
    text-align: center;
    margin-top:90px;
    margin-bottom: 30px;
}
.advantage_top h3{
    font-size:36px;
    color:#333;
    letter-spacing: 2px;
    text-align: center;
}
.advantage_top p{
   width:80px;
    height: 4px;
    background: #ffe100;
    margin:0px auto 72px auto;
}
.partner_advantage{
    width:1200px;
    margin:0px auto;
    padding-bottom: 70px;
}
.advantage_container{
    width: 100%;
    display: flex;
}
.advantage{
    width: 30%;
    padding-top: 40px;
    padding-bottom: 40px;
    border: 1px solid #8cc234;
    margin: 2%;
}
.advantage span{
    text-align: center;
    display: inline-block;
    width:100%;
    padding-bottom: 20px;
}
.advantage span{
    font-size: 0;
}
.advantage span img{
    width:35px;
    /*height: 60px;*/
}
.advantage p{
    line-height: 33px;
    font-size: 15px;
    color:#666;
    margin:0px 24px;
}
.advantage h4{
    text-align: center;
}
.partner_equities_bj{
    background: url("../../images/partner/partner_equities.png")no-repeat center;
    width:100%;
    background-size: cover;
    font-size: 0;
}
.partner_equities{
    width:1200px;
    margin:0px auto;
}
.equities_top h4{
    font-size:36px;
    color:white;
    letter-spacing: 2px;
    text-align: center;
    padding-top:90px;
    margin-bottom: 30px;
}
.equities_top p{
    width:80px;
    height: 4px;
    background: #ffe100;
    margin:0px auto 72px auto;
}
.equities_container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.equities{
    padding-top: 60px;
    width:400px;
    display: block;
    padding-bottom: 92px;
    text-align: center;
}

.equities h4{
    line-height: 48px;
    color:white;
    font-size: 18px;
    padding-top:25px;
}
.equities p{
    line-height: 43px;
    font-size: 16px;
    color:white;
    padding:0px 25px;
}
.partner_grade{
    width:1200px;
    margin:0px auto;
}
.partner_grade .grade{
    width:393px;
    display: inline-block;
    margin-bottom: 105px;
}
.partner_grade .grade h3{
    text-align: center;
    width:300px;
    border:1px solid #999;
    font-size: 24px;
    color:#666;
    font-weight: 500;
    border-radius: 50px;
    line-height: 70px;
    margin:0px auto 30px auto;

}
.partner_grade .grade h3 img{
    padding-right: 19px;
    width:30px;
    height: 40px;
    vertical-align: middle;
}
.partner_grade .grade p{
    font-size: 16px;
    line-height: 30px;
    color:#666;
    display: inline-block;
}
.partner_grade .grade span{
    color:#333;
    padding-left: 80px;
    float: left;
    line-height: 30px;
    font-size: 16px;
}
.partner_grade .grade p s{
    color:#ffe100;
    text-decoration: none;
    font-size: 15px;
}
.partner_enter_bj{
    width:100%;
    background: url("../../images/partner/partner_enter.png")no-repeat;
    background-size: cover;
}
.partner_enter{
    width:1200px;
    margin:0px auto;
}
    .partner_enter .enter {
        /*width: 1200px;*/
        width: 45%;
        margin: 2%;
        padding-bottom: 30px;
        margin-bottom: 50px;
        display: inline-table;
        min-height: 350px;
        border: 2px solid #ffe100;
        /*border-radius: 40px;*/
    }
        .partner_enter .enter h3 {
            font-size: 25px;
            font-weight: 700;
            /***********/
            color: #ddd;
            /***********/
            margin: 30px 0px;
            text-align: center;
        }
    .partner_enter .enter p {
        padding: 0px 43px;
        /*************/
        color: #f9f9f9;
        /***********/
        font-size: 16px;
        line-height: 30px;
    }
.partner_flow{
    width:1200px;
    margin:0px auto;
}
.partner_flow .flow{
    width:293px;
    display: inline-block;
}
.partner_flow .flow h3{
    font-size: 24px;
    color:#85b834;
    font-weight: 500;
    text-align: center;
    margin-bottom: 27px;
}
.partner_flow .flow a{
    font-size: 24px;
    color:#85b834;
    width:280px;
    display: inline-block;
    text-align: center;
    line-height: 70px;
    border:1px solid #85b834;
    border-radius: 50px;
    position: relative;
    margin-bottom: 92px;
}
.partner_flow .flow a img{
    width:15%;
    vertical-align: middle;
    position: absolute;
    right:8%;
    top:20%;
}
.partner_Stern_bj{
    width:100%;
    background: url("../../images/partner/partner_Stern.png")no-repeat;
    background-size: cover;
    display: inline-block;
}
.partner_stern{
    width:1200px;
    margin:0px auto;

}
.partner_stern .stern{
    width:295px;
    display: block;
    float: left;
}
.partner_stern .stern a{
    width:210px;
    display: block;
    line-height: 50px;
    text-align: center;
    background:rgba(136,139,149,0.4);
    font-size: 24px;
    border-radius: 50px;
    color:white;
    margin:0px auto;
}
.partner_stern .stern p {
    line-height: 32px;
    color:white;
   padding:42px 35px 90px 35px;
    font-size: 14px;
}
.partner_introduce{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin:0px auto;
}
.partner_introduce .introduce{
    width:300px;
    display: block;
	margin-bottom:30px;
}
.partner_introduce .introduce i{
    width:100%;
    text-align: center;
    padding:69px 0px 46px 0px;
    display: block;
}
.partner_introduce .introduce h3{
    font-size: 24px;
    color:#333;
}
.partner_introduce .introduce p{
    font-size: 15px;
    color:#666;
    line-height: 35px;
    padding:42px 28px 113px 37px;
    text-align:initial;
}
.partner_cooperation_bj{
    width:100%;
    background: url("../../images/partner/cooperation_hzsh.png")no-repeat center;
    background-size: cover;
}
.partner_cooperation{
    width:1200px;
    margin:0px auto;
    font-size: 0;

}
.partner_join{
    position: fixed;
    bottom:2%;
    font-size: 0;
    width:33%;
    left:33%;
    display: none;
    text-align: center;

}
.partner_join a{
    width: 400px;
    display: inline-block;
    background: #ffe100;
    color: white;
    line-height: 60px;
    border-radius: 30px;
    font-size: 24px;
    letter-spacing: 3px;
    cursor: pointer;
    box-shadow: 2px 2px 5px #666;
}
.partner_cooperation .cooperation{
    padding:80px 0px 143px 0px;
}
.partner_Application{
    width:1200px;
    margin:50px auto;
    background: white;
    height: 800px;


}
.Application_top{
    background: #ffe100;
    text-align: center;
    font-size: 0;
    position: relative;
}
.Application_top h3 img{
    position: absolute;
    right:30px;
    top:22px;

}
.Application_top h3{
    color:white;
    font-size: 24px;
    line-height: 65px;
    font-weight: 500;
}
.Application_main{
    width:1020px;
    margin:50px auto 30px;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 15px;
    overflow-y: scroll;
    height: 650px;
}
.Application_main span i{
    font-weight: 600;
    font-style: normal;
    color:red;
    padding-right: 3px;
    padding-top:3px;
    vertical-align: middle;
    font-size: 20px;
}
.Application_city span{
    float: left;
    line-height: 50px;
    font-size: 16px;
    color:#333333;
    margin-right: 25px;
}
.Application_main span img{
    margin-bottom: 4px;
    margin-right: 3px;
}
.Application_city span img{

}
.Application_city .a{
    width:42%;
    display: inline-block;
}
.Application_category span{
display: inline-block;
    line-height:65px;
    font-size: 16px;
    color:#333333;
    margin-right: 25px;
}
.Application_category p{
    width:115px;
    display: inline-block;
    color:#333;
    font-size: 16px;
    cursor: pointer;
}
.Application_category p span{
    vertical-align: middle;
    margin-right: 10px;
}
.Application_category label input[type=checkbox]{
    width:20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: text-bottom;
    outline: none;
    color:#999999;
}
.Application_quantity{

}
.Application_quantity span{
    line-height: 65px;
    font-size: 16px;
    color:#333333;
    margin-right: 25px;
}
.Application_quantity label{
   display: inline-block;
}
.Application_quantity label input[type=text]{
   outline: none;
    line-height: 31px;
    font-size: 16px;
    padding-left: 20px;
    margin-right: 20px;
    height: 31px;
}
.Application_warehouse span{
    line-height: 65px;
    font-size: 16px;
    color:#333333;
    margin-right: 25px;
    display: inline-block;
}
.Application_warehouse select{
    width:65px;
    height: 35px;
    background: url("../../images/partner/partner_jt.png")no-repeat 15px 8px ;
    outline: none;
}
.Application_name input[type=text]{
    outline: none;
    line-height: 31px;
    font-size: 16px;
    padding-left: 20px;
    height: 31px;
}
.Application_phone input[type=text]{
    outline: none;
    line-height: 31px;
    font-size: 16px;
    padding-left: 20px;
    height: 31px;
}
.Application_bottom{
    width:1000px;
    margin:0px auto;
}
.Application_bottom span{
    line-height: 65px;
    font-size: 16px;
    color:#333333;
    width:110px;
    display: inline-block;
}
.Application_site input[type=text]{
    outline: none;
    line-height: 31px;
    font-size: 16px;
    padding-left: 20px;
    width:85%;
    height: 31px;
}
.Application_remark textarea{
    height: 100px;
    width:85.2%;
    outline: none;
    font-size: 16px;
    padding-left: 20px;
    margin-top:20px;
    line-height: 40px;
}
.Application_remark span{
    float: left;
    margin-right: 3px;
}
.submit{
    text-align: center;
}
.submit a{
    width:400px;
    font-size: 30px;
    display: inline-block;
    line-height: 65px;
    color:white;
    background: #ffe100;
    text-align: center;
    margin:50px 0px 50px 0px;
}
.partner_zzc{
    background: rgba(0,0,0,.5);
    width:100%;
    height: 100%;
    z-index:1;
    display: none;
    position: fixed;
    top:0%;
    left:0%;
}



